# Dataset files (too large for GitHub)
data/
models/
figures/
*.csv
*.tsv
*.parquet
*.h5
*.hdf5
*.pkl
*.pickle
dataset/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

.venv/
venv/

.env

